.SectionBranchService-Admin {
  width: 100%;
  margin: 0 50px 0 0 !important;
}

.shift-heading {
  font-size: 18px;
  color: #004990;
  font-weight: 600;
}

.shift-sub-heading {
  font-size: 18px;
  color: #1ab4d0 !important;
  font-weight: 600;
}

.shift-sub-heading-right {
  font-size: 18px;
  color: #87b939 !important;
  font-weight: 600;
}

.BranchService-Admin-paper {
  border-radius: 4px;
  padding: 1.5rem 1rem !important;
  width: 100% !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
}

.btn-class-branch {
  display: flex;
  justify-content: end;
  gap: 10px !important;
}

.save-btn-BranchService {
  font-size: 14px;
  font-weight: 500;
  padding: 6px 18px !important;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%);
  border-color: #7484b7 !important;
}

.save-btn-BranchService:hover {
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%);
  border-color: #77c0cb !important;
}

.revert-btn-BranchService {
  font-size: 14px;
  font-weight: 500;
  padding: 6px 18px !important;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%);
  border-color: #77c0cb !important;
}

.revert-btn-BranchService:hover {
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%);
  border-color: #7484b7 !important;
}

.icon-space {
  margin-right: 5px !important;
  font-size: 15px;
  align-items: center !important;
}

.btn-col-class {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}
