.CountryCityShift-paper {
  border-radius: 4px !important;
  padding: 1.5rem 1rem !important;
  width: 100% !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
  height: auto !important;
  min-height: 40vh !important;
}

.CityBranchShift-col {
  display: flex !important;
  justify-content: center !important;
  gap: 5px !important;
}

.Search-Icon-Btn {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif !important;
  padding: 6px 12px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%) !important;
  border-color: #7484b7 !important;
}

.Search-Icon-Btn:hover {
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%) !important;
  border-color: #77c0cb !important;
}

.CountryCityShiftselector {
  width: 100% !important;
  max-width: 450px !important;
}

.city-icon-space {
  margin-right: 5px !important;
  font-size: 15px !important;
  align-items: center !important;
}

.collapse-bg-color {
  align-items: center !important;
  background-color: #76c641 !important;
  color: #ffffff !important;
  padding: 10px !important;
  display: flex !important;
  justify-content: space-between !important;
}

.collapse-disable-bg {
  background-color: transparent !important;
}

.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 16px 25px !important;
}

/* for not showing icon beside the header */
.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  display: none !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 3px 16px !important;
}

.icon-size-of-collapse {
  font-size: 24px !important;
  font-weight: 500 !important;
  color: #ffffff !important;
}
