.Employee-Main-paper {
  border-radius: 4px;
  padding: 1.5rem 1rem !important;
  width: 100% !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
}

.Counter-checkbox {
  display: flex;
  align-items: center !important;
}

.checkbox-label {
  margin-left: 10px;
}

.btn-class-branch {
  display: flex;
  justify-content: end;
  gap: 10px !important;
}

.Add-btn-Counter {
  font-size: 14px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
  padding: 6px 12px !important;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%);
  border-color: #7484b7 !important;
}

.Add-btn-Counter:hover {
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%);
  border-color: #77c0cb !important;
}

.Reset-btn-Counter {
  font-size: 14px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
  padding: 6px 12px !important;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%);
  border-color: #77c0cb !important;
}

.Reset-btn-Counter:hover {
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%);
  border-color: #7484b7 !important;
}

.icon-space {
  margin-right: 5px !important;
  font-size: 15px;
  align-items: center !important;
}

.table-text {
  color: #ffffff !important;
  font-size: 14px !important;
  z-index: 1 !important;
}

.icon-check-color {
  color: #87b939 !important;
  font-size: 18px !important;
}

.icon-spaceing-dlt-edit {
  display: flex;
  justify-content: end !important;
  gap: 10px !important;
}

.icon-EDT-DLT-color {
  color: #7a7e8b !important;
  font-size: 18px !important;
  cursor: pointer;
}

.icon-EDT-DLT-color:hover {
  color: #77c0cb !important;
}

.btn-col-class {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.Employee-Add-Btn {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #646f7e !important;
  color: #646f7e !important;
  font-family: "Montserrat", sans-serif !important;
  padding: 6px 12px !important;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: transparent;
  border-color: #7484b7 !important;
}

.Employee-Add-Btn:hover {
  background: #646f7e;
  color: #ffffff !important;
  border-color: none !important;
}

.three-button-col {
  display: flex;
  justify-content: center;
  gap: 5px;
}
