.disabled-row {
  background-color: red !important;
  pointer-events: none !important;
}

.rowColor {
  background-color: #fff !important;
}

.ant-table-thead thead tr th {
  background-color: #fff !important;
}

.ant-table-row {
  margin: 30px 0 0 0 !important;
  background: #fff !important;
}

.ant-table-tbody {
  margin: 20px 0 20px 0 !important;
}

.ant-table-thead > tr > th {
  background-color: #fff !important;
  border-bottom: 2px solid #dee2e6 !important;
}

.ant-table-thead tr {
  border-bottom: 3px solid #dee2e6 !important;
}

.ant-table-cell::before {
  height: 0px !important;
}

.ant-table table {
  /* margin-bottom: 50px!important; */
}

.nodata-table-icon {
  font-size: 5rem !important;
  color: #2097d6 !important;
}

.NoData-Button {
  align-items: center !important;
  justify-content: center !important;
  justify-items: center !important;
}

/* change color blue to this */
.title {
  color: #2097d6 !important;
}

.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td {
  position: relative !important;
  color: #ffffff !important;
  font-weight: 700 !important;
  text-align: start !important;
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%) !important;
  border-bottom: 1px solid #dee2e6 !important;
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0px !important;
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-start-end-radius: 0px !important;
}

.ant-table-wrapper .ant-table-cell,
.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > th,
.ant-table-wrapper .ant-table-tbody > tr > td,
.ant-table-wrapper tfoot > tr > th,
.ant-table-wrapper tfoot > tr > td {
  position: relative !important;
  padding: 8px 16px !important;
  overflow-wrap: break-word !important;
  border-bottom: 1px solid #dee2e6 !important;
}

/* .ant-layout,
.ant-layout * {
  box-sizing: border-box!important;
  margin-bottom: 0 !important;
} */
