.CityWiseCounter-paper {
  border-radius: 4px;
  padding: 1.5rem 2rem !important;
  width: 100% !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
}

.CityWiseCounter-col {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.Search-Icon-Btn {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
  padding: 6px 12px !important;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%);
  border-color: #7484b7 !important;
}

.Search-Icon-Btn:hover {
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%);
  border-color: #77c0cb !important;
}

.CityWiseCounterselector {
  width: 100% !important;
  max-width: 450px !important;
}

.city-icon-space {
  margin-right: 5px !important;
  font-size: 15px;
  align-items: center !important;
}

.CitywiseCounter-div-row {
  padding: 8px 15px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background: #f1f7ec;
  color: #76c641;
}

body[dir="rtl"] .CitywiseCounter-div-row {
  font-family: "NeoSansArabic" !important;
}

.div-table-counter {
  max-height: 32vh !important;
  max-width: 77vw;
  width: 100%;
  box-sizing: border-box !important;
  overflow-x: auto !important;
  border-radius: 0px !important;
}

.div-table-counter th.ant-table-cell {
  color: #002650 !important;
  border-radius: 0% !important;
  position: sticky !important;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  top: 0 !important;
  z-index: 1;
  background: #ffffff !important;
}

.div-table-counter::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

.div-table-counter::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}
