.Branch-Admin-paper {
  border-radius: 4px !important;
  padding: 1.5rem 1rem !important;
  width: 100% !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
}

.Branch-checkbox {
  display: flex !important;
  align-items: center !important;
}

.btn-class-branch {
  display: flex !important;
  justify-content: center !important;
  gap: 5px !important;
}

.Add-btn-Branch {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif !important;
  padding: 6px 12px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%) !important;
  border-color: #7484b7 !important;
}

.Add-btn-Branch:hover {
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%) !important;
  border-color: #77c0cb !important;
}

body[dir="rtl"] .Add-btn-Branch {
  font-family: "NeoSansArabic" !important;
}

.Reset-btn-Branch {
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 6px 12px !important;
  font-family: "Montserrat", sans-serif !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%) !important;
  border-color: #77c0cb !important;
}

body[dir="rtl"] .Reset-btn-Branch {
  font-family: "NeoSansArabic" !important;
}

.Reset-btn-Branch:hover {
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%) !important;
  border-color: #7484b7 !important;
}

.icon-space {
  margin-right: 5px !important;
  font-size: 15px !important;
  align-items: center !important;
}

body[dir="rtl"] .icon-space {
  margin-left: 5px !important;
  font-size: 15px !important;
  align-items: center !important;
}

.icon-check-color {
  color: #87b939 !important;
  font-size: 18px !important;
}

.icon-check-close-color {
  color: #cf5b5b !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.icon-spaceing-dlt-edit {
  display: flex !important;
  justify-content: center !important;
  gap: 10px !important;
}

.icon-EDT-DLT-color {
  color: #7a7e8b !important;
  font-size: 18px !important;
  cursor: pointer !important;
}

.icon-EDT-DLT-color:hover {
  color: #77c0cb !important;
}

.text-fiels-Branch {
  font-size: 13px !important;
  font-family: "Montserrat", sans-serif !important;
  height: 37px !important;
  color: #212529 !important;
  font-weight: 500 !important;
}

body[dir="rtl"] .text-fiels-Branch {
  font-size: 13px !important;
  font-family: "NeoSansArabic" !important;
  height: 37px !important;
  color: #212529 !important;
  font-weight: 500 !important;
}

.text-fields-Branch-arabic {
  font-size: 13px !important;
  font-family: "Montserrat", sans-serif !important;
  height: 37px !important;
  color: #212529 !important;
  font-weight: 500 !important;
  text-align: start !important;
}

body[dir="rtl"] .text-fields-Branch-arabic {
  font-size: 13px !important;
  font-family: "NeoSansArabic" !important;
  height: 37px !important;
  color: #212529 !important;
  text-align: start !important;
  font-weight: 500 !important;
}

.col-for-date-timepicker {
  display: flex !important;
  flex-direction: column !important;
}
