.forgot-password {
  background: #ffffff !important;
  height: 100vh !important;
  /* background: url(../../../assets/images/login-bg.png) no-repeat !important; */
  background-size: cover !important;
  background-position: fixed !important;
  padding: 10px 0px !important;
}

.forgot-container {
  min-height: 60vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-center-div {
  display: flex;
  justify-content: center !important;
  margin: 0 auto !important;
  width: 400px !important;
  height: 280px !important;
  background: #f5f6f9 !important;
  align-items: center !important;
  border-radius: 12px;
  padding: 10px 20px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px !important;
}

.forgot-Heading-Rer {
  display: flex;
  justify-content: center;
  color: #76c641 !important;
  font-size: 1.5rem !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  text-align: center !important;
  /* margin-bottom: 10px; */
}

body[dir="rtl"] .forgot-Heading-Rer {
  font-family: "Times New Roman", Times, serif !important;
}

.forgot-btn {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif !important;
  padding: 8px 24px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%) !important;
  border-color: #77c0cb !important;
}

body[dir="rtl"] .forgot-btn {
  font-family: "Times New Roman", Times, serif !important;
}

.forgot-btn:is(:hover, ) {
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%) !important;
  border-color: #7484b7 !important;
}

.form-comtrol-textfield {
  height: 37px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.5) !important;
  font-size: 14px !important;
  outline: none !important;
  color: #002650 !important;
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}

.Icon-Field-class {
  background: rgba(255, 255, 255, 0.5) !important;
  font-size: 17px !important;
  outline: none !important;
  color: #4b5576 !important;
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}

.forgot-btn-col {
  display: flex;
  justify-content: center !important;
}

.forget-lablel-text {
  color: #002650 !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  font-weight: 500;
  cursor: pointer !important;
}

.forget-lablel-text:hover {
  color: #0d6efd !important;
}

.textfield-padding {
  padding: 0px 7px !important;
}
