.Employee-Screen-paper {
  border-radius: 4px !important;
  padding: 1.5rem 1rem !important;
  width: 100% !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
}

.Emplyee-screen-select {
  width: 100% !important;
  max-width: 450px !important;
}