.CityAdmin-paper {
  border-radius: 4px !important;
  padding: 1.5rem 1rem !important;
  width: 100% !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
}

.CityAdmin-checkbox {
  display: flex !important;
  align-items: center !important;
}

.btn-class-CityAdmin {
  display: flex !important;
  justify-content: center !important;
  gap: 10px !important;
}

.Add-btn-CityAdmin {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif !important;
  padding: 6px 12px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%) !important;
  border-color: #7484b7 !important;
}

body[dir="rtl"] .Add-btn-CityAdmin {
  font-family: "NeoSansArabic" !important;
}

.Add-btn-CityAdmin:hover {
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%) !important;
  border-color: #77c0cb !important;
}

.Reset-btn-CityAdmin {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif !important;
  padding: 6px 12px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%) !important;
  border-color: #77c0cb !important;
}

body[dir="rtl"] .Reset-btn-CityAdmin {
  font-family: "NeoSansArabic" !important;
}

.Reset-btn-CityAdmin:hover {
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%) !important;
  border-color: #7484b7 !important;
}

.goback-button {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif !important;
  padding: 6px 12px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  color: #212529 !important;
  background: #b0b7c0 !important;
  border-color: #b0b7c0 !important;
}

body[dir="rtl"] .goback-button {
  font-family: "NeoSansArabic" !important;
}

.icon-space {
  margin-right: 5px !important;
  font-size: 15px !important;
  align-items: center !important;
}

.table-text {
  color: #ffffff !important;
  font-size: 14px !important;
  z-index: 1 !important;
}

.icon-check-color {
  color: #87b939 !important;
  font-size: 18px !important;
}

.icon-spaceing-dlt-edit {
  display: flex !important;
  justify-content: end !important;
  gap: 15px !important;
}

.icon-EDT-DLT-color {
  color: #7a7e8b !important;
  font-size: 18px !important;
  cursor: pointer !important;
}

.icon-EDT-DLT-color:hover {
  color: #77c0cb !important;
}

.col-for-date-timepicker-cityad {
  display: flex !important;
  flex-direction: column !important;
}

.text-fiels-cityAdmin {
  font-size: 13px !important;
  font-family: "Montserrat", sans-serif !important;
  height: 37px !important;
  color: #212529 !important;
  font-weight: 500 !important;
}

body[dir="rtl"] .text-fiels-cityAdmin {
  font-family: "NeoSansArabic" !important;
}

.text-fiels-cityAdmin-arabic {
  font-size: 13px !important;
  font-family: "Montserrat", sans-serif !important;
  height: 37px !important;
  color: #212529 !important;
  font-weight: 500 !important;
  text-align: end !important;
}

body[dir="rtl"] .text-fiels-cityAdmin-arabic {
  font-size: 13px !important;
  font-family: "NeoSansArabic" !important;
  height: 37px !important;
  color: #212529 !important;
  font-weight: 500 !important;
  text-align: start !important;
}