.modal-backdrop {
  background-color: transparent;
}
.modal-backdrop.show {
  backdrop-filter: blur(5px) !important;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 1 !important;
}

.modal.fade {
  z-index: 1050 !important;
}
