.GlobalService-paper {
  border-radius: 4px;
  padding: 1.5rem 1rem !important;
  width: 100% !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
}

.GlobalService-checkbox {
  display: flex;
  align-items: center !important;
}

.btn-class-GlobalService {
  display: flex;
  justify-content: center !important;
  gap: 10px !important;
}

.Add-btn-GlobalService {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
  padding: 6px 12px !important;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%);
  border-color: #7484b7 !important;
}

body[dir="rtl"] .Add-btn-GlobalService {
  font-family: "Times New Roman", Times, serif !important;
}

.Add-btn-GlobalService:hover {
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%);
  border-color: #77c0cb !important;
}

.Reset-btn-GlobalService {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
  padding: 6px 12px !important;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%);
  border-color: #77c0cb !important;
}

body[dir="rtl"] .Reset-btn-GlobalService {
  font-family: "Times New Roman", Times, serif !important;
}

.Reset-btn-GlobalService:hover {
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%);
  border-color: #7484b7 !important;
}

.icon-space {
  margin-right: 5px !important;
  font-size: 15px;
  align-items: center !important;
}

.table-text {
  color: #ffffff !important;
  font-size: 14px !important;
  z-index: 1 !important;
}

.icon-check-color {
  color: #87b939 !important;
  font-size: 18px !important;
}

.icon-close-color {
  font-size: 18px !important;
  font-weight: 600;
  cursor: pointer;
  color: #cf5b5b !important;
}

.icon-spaceing-dlt-edit {
  display: flex;
  justify-content: end !important;
  gap: 15px !important;
}

.icon-EDT-DLT-color {
  color: #7a7e8b !important;
  font-size: 18px !important;
  cursor: pointer;
}

.icon-EDT-DLT-color:hover {
  color: #77c0cb !important;
}

.col-for-date-timepicker-cityad {
  display: flex;
  flex-direction: column;
}

.text-fiels-GlobalService {
  font-size: 13px !important;
  font-family: "Montserrat", sans-serif !important;
  height: 37px;
  color: #212529 !important;
  font-weight: 500 !important;
}

body[dir="rtl"] .text-fiels-GlobalService {
  font-family: "Times New Roman", Times, serif !important;
}

.text-fiels-GlobalService-arabic {
  font-size: 13px !important;
  font-family: "Montserrat", sans-serif !important;
  height: 37px;
  color: #212529 !important;
  font-weight: 500 !important;
  text-align: end !important;
}

body[dir="rtl"] .text-fiels-GlobalService-arabic {
  font-size: 13px !important;
  font-family: "Times New Roman", Times, serif !important;
  height: 37px;
  color: #212529 !important;
  font-weight: 500 !important;
  text-align: start !important;
}
