/* Sidebar.css */

.site-layout-background {
  border-top-right-radius: 10px !important;
  /*  margin-top: 0px !important; */
  background: "#fff"
}

.menu-item {
  color: #4b5576 !important;
  font-weight: 600 !important;
  font-size: 15px !important;
}

.menu-item-two {
  color: #4b5576 !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  border-top: 1px solid #e2e6e9;
  border-bottom: 1px solid #e2e6e9;
  border-radius: 0px !important;
}

.menu-item-sub {
  color: #536395 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  border-radius: 0px !important;
  margin: 0 !important;
}

.menu-item-sub:hover {
  background-color: #e0eeef !important;
  border-radius: none !important;
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-2q8sxy).ant-menu-light>.ant-menu .ant-menu-item-selected {
  background-color: #55c5d1;
  color: #ffffff !important;
}

/* Add more styles as needed */