.table-above-header-text {
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  color: #ffffff !important;
  font-weight: 700 !important;
}

.top-background-color {
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%) !important;
}
