.Country-working-paper {
  border-radius: 4px !important;
  padding: 1.5rem 1rem !important;
  width: 100% !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
}

.btn-col-class {
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  gap: 5px !important;
}

.save-btn-Country-working {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif !important;
  padding: 6px 12px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%) !important;
  border-color: #7484b7 !important;
}

body[dir="rtl"] .save-btn-Country-working {
  font-family: "NeoSansArabic" !important;
}

.save-btn-Country-working:hover {
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%) !important;
  border-color: #77c0cb !important;
}

.revert-btn-Country-working {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif !important;
  padding: 6px 18px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%) !important;
  border-color: #77c0cb !important;
}

body[dir="rtl"] .revert-btn-Country-working {
  font-family: "NeoSansArabic" !important;
}

.revert-btn-Country-working:hover {
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%) !important;
  border-color: #7484b7 !important;
}

.col-Country-working {
  display: flex !important;
  justify-items: center !important;
  align-items: center !important;
  gap: 5px !important;
}
