.uploadText {
  display: none !important;
}

.uploadButton {
  border: 1 solid black !important;
  border-radius: 0 !important;
  background-color: #025f5c !important;
  box-shadow: none !important;
}

.btnMiniSecondary {
  background-color: #d08b07 !important;
  padding: 5px 20px !important;
  border: none !important;
  color: #fff !important;
  font-size: 12px !important;
  border-radius: 0.2rem !important;
  text-transform: none !important;
}

.btnSecondarySolid {
  background: #d08b07 !important;
  border-color: #d08b07 !important;
  cursor: pointer !important;
  border-radius: 0px !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  color: #fff !important;
  text-transform: none !important;
  padding: 0px 16px !important;
}

.UploadFileButton {
  cursor: pointer !important;
}

.upload-btn {
  font-size: 14px !important;
  width: 200px !important;
  height: 39px !important;
  font-weight: 600 !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  /* padding: 6px 6px !important; */
  background-color: #6873a9 !important;
  border-color: #6873a9 !important;
}

.ButtonForUpload {
  font-size: 14px !important;
  width: 200px !important;
  height: 39px !important;
  color: #fff !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-weight: 600 !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  /* padding: 2px 2px !important; */
  background-color: #6873a9 !important;
  border-color: #6873a9 !important;
}