.sign-in {
  background: #ffffff !important;
  height: 100vh !important;
  /* background: url(../../../assets/images/login-bg.png) no-repeat !important; */
  background-size: cover !important;
  background-position: fixed !important;
  padding: 15px 0px !important;
}

.login-container {
  min-height: 60vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.center-div {
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto !important;
  width: 400px !important;
  height: 350px !important;
  background: #f5f6f9 !important;
  align-items: center !important;
  border-radius: 12px !important;
  padding: 10px 20px !important;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px !important;
}

.Heading-Rer {
  display: flex !important;
  justify-content: center !important;
  color: #76c641 !important;
  font-size: 1.75rem !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  text-align: center !important;
  /* margin-bottom: 10px!important; */
}

body[dir="rtl"] .Heading-Rer {
  font-family: "NeoSansArabic" !important;
}

.login-btn {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif !important;
  padding: 8px 24px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%) !important;
  border-color: #77c0cb !important;
}

body[dir="rtl"] .login-btn {
  font-family: "NeoSansArabic" !important;
}

.login-btn:is(:hover, ) {
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%) !important;
  border-color: #7484b7 !important;
}

.signup-btn {
  width: 101px !important;
  height: 39px !important;
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%) !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border: none !important;
}

.signup-btn:is(:hover, ) {
  background: linear-gradient(to bottom, #feac78 0%, #e97225 100%) !important;
}

.form-comtrol-textfield {
  height: 37px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  background: rgba(255, 255, 255, 0.5) !important;
  font-size: 14px !important;
  outline: none !important;
  color: #002650 !important;
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}

.Icon-Field-class {
  background: rgba(255, 255, 255, 0.5) !important;
  font-size: 17px !important;
  outline: none !important;
  color: #4b5576 !important;
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}

body[dir="rtl"] .Icon-Field-class {
  background: rgba(255, 255, 255, 0.5) !important;
  font-size: 17px !important;
  outline: none !important;
  color: #4b5576 !important;
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
  transform: rotateY(180deg) !important;
}

body[dir="rtl"] .form-comtrol-textfield {
  font-family: "NeoSansArabic" !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  height: 37px !important;
  font-weight: 500 !important;
  background: rgba(255, 255, 255, 0.5) !important;
  font-size: 14px !important;
  outline: none !important;
  color: #002650 !important;
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}

.signIn-Signup-btn-col {
  display: flex !important;
  justify-content: center !important;
  gap: 5px !important;
}

.forget-lablel-text {
  color: #002650 !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  cursor: pointer !important;
}

body[dir="rtl"] .forget-lablel-text {
  font-family: "NeoSansArabic" !important;
}

.forget-lablel-text:hover {
  color: #0d6efd !important;
}

.textfield-padding {
  padding: 0px 7px !important;
}

.errorMessageLogin {
  height: 12px !important;
  margin-top: -14px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif !important;
  color: #f16b6b !important;
  visibility: visible !important;
}

body[dir="rtl"] .errorMessageLogin {
  font-family: "NeoSansArabic" !important;
}

.errorMessageLogin_hidden {
  visibility: hidden !important;
  margin: 0 !important;
  height: 14px !important;
  color: #f16b6b !important;
}

.errorPasswordSignInMessage {
  height: 0px !important;
  margin-top: 0px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #f16b6b !important;
  font-family: "Montserrat", sans-serif !important;
  visibility: visible !important;
}

body[dir="rtl"] .errorPasswordSignInMessage {
  font-family: "NeoSansArabic" !important;
}

.errorPasswordSignInMessage_hidden {
  visibility: hidden !important;
  margin: 0 !important;
  height: 16px !important;
  color: #f16b6b !important;
}