.Branch-Screen-paper {
  border-radius: 4px !important;
  padding: 1.5rem 1rem !important;
  width: 100% !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
  min-height: 55vh !important;
}

.btn-col-class {
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  gap: 5px !important;
}

.Branch-Screen-Select {
  width: 100% !important;
  max-width: 450px !important;
}
