.CountryCityWise-paper {
  border-radius: 4px !important;
  padding: 1.5rem 1rem !important;
  width: 100% !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
}

.CountryCityWise-col {
  display: flex !important;
  justify-content: center !important;
  gap: 5px !important;
}

.Search-Country-Wise-Icon-Btn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Montserrat", sans-serif !important;
  padding: 6px 12px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%) !important;
  border-color: #7484b7 !important;
}

.Search-Country-Wise-Icon-Btn:hover {
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%) !important;
  border-color: #77c0cb !important;
}

.CountryCityWise {
  width: 100% !important;
  max-width: 450px !important;
}

.city-icon-space {
  margin-right: 5px !important;
  font-size: 15px !important;
  align-items: center !important;
}

.Country-Wise-collapse-bg-color {
  align-items: center !important;
  background-color: #76c641 !important;
  color: #ffffff !important;
  padding: 10px !important;
  display: flex !important;
  justify-content: space-between !important;
}

.collapse-Country-Wise-disable-bg {
  background-color: transparent !important;
}

.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 16px 25px !important;
}

/* for not showing icon beside the header */
.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
  display: none !important;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  padding: 3px 16px !important;
}

.div-table-country-wise {
  max-height: 32vh !important;
  max-width: 77vw !important;
  width: 100% !important;
  box-sizing: border-box !important;
  overflow-x: auto !important;
  border-radius: 0px !important;
}

.div-table-country-wise th.ant-table-cell {
  color: #002650 !important;
  border-radius: 0% !important;
  position: sticky !important;
  font-family: "Montserrat", sans-serif !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  top: 0 !important;
  z-index: 1 !important;
  background: #ffffff !important;
}

.div-table-country-wise::-webkit-scrollbar {
  width: 0.5rem !important;
  height: 0.5rem !important;
  border-radius: 20px !important;
  background-color: #ffffff !important;
}

.div-table-country-wise::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
  background: #ccc !important;
  margin-left: -15px !important;
}

.Country-wise-collapse {
  font-size: 24px !important;
  font-weight: 500 !important;
  color: #ffffff !important;
}