.BranchService-Admin-paper {
  border-radius: 4px;
  padding: 1.5rem 1rem !important;
  width: 100% !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
}

.btn-class-branch {
  display: flex;
  justify-content: end;
  gap: 10px !important;
}

.save-btn-BranchService {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
  padding: 6px 12px !important;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%);
  border-color: #7484b7 !important;
}

body[dir="rtl"] .save-btn-BranchService {
  font-family: "Times New Roman", Times, serif !important;
}

.save-btn-BranchService:hover {
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%);
  border-color: #77c0cb !important;
}

.revert-btn-BranchService {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
  padding: 6px 18px !important;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(to bottom, #77c0cb 0%, #2c9cc0 100%);
  border-color: #77c0cb !important;
}

body[dir="rtl"] .revert-btn-BranchService {
  font-family: "Times New Roman", Times, serif !important;
}

.revert-btn-BranchService:hover {
  background: linear-gradient(to bottom, #7484b7 0%, #536395 100%);
  border-color: #7484b7 !important;
}

.icon-space {
  margin-right: 5px !important;
  font-size: 15px;
  align-items: center !important;
}

.btn-col-class {
  display: flex;
  justify-content: end !important;
  align-items: center;
  gap: 5px;
}

.For-table-textfield {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.for-inside-table-textfiel {
  width: 75px !important;
  height: 35px !important;
}
