/* this is for the whole body of project */
body {
  background: #f4f4f4 !important;
  color: #45494d;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  overflow-x: hidden;
  height: 100%;
}
