/* this is for the whole body of project */
body {
  background: #f4f4f4;
  color: #45494d;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  overflow-x: hidden;
  height: 100%;
}

/* this is the header css  */
.site-header {
  padding: 15px 0px;
}

.page-gutter {
  padding: 0 15px;
}

.lang-dd {
  position: relative;
}

.lang-dd:after {
  font-family: "custom-icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  content: "\e98e";
  display: block;
  right: 0;
}

.lang-dd select {
  background: transparent !important;
  border: 0px;
}

.lang-dd .select2-selection__arrow {
  display: none;
}

.lang-dd .select2-selection {
  background: transparent !important;
  text-align: right;
}

.lang-dd .select2-selection .select2-selection__rendered {
  font-size: 14px !important;
  font-weight: bold !important;
}

.user-ddd {
  background: #ffffff;
  border-radius: 4px;
  height: 48px;
  padding: 1px 0px;
  border-radius: 25px;
  box-shadow: 10px 10px 40px rgb(0 0 0 / 5%);
  padding-left: 8px;
}

.user-dd .user-name {
  display: inline-block;
  background: transparent !important;
}

.user-dd .user-thumb {
  width: 40px;
  display: inline-block;
  transform: translate(0px, 0px);
}

.button-background {
  background: transparent;
  border: none;
}
