.go-back-arrow {
  position: relative !important;
  top: 5px !important;
  font-size: 25px !important;
  color: #000 !important;
  cursor: pointer !important;
  margin-right: 10px !important;
}

body[dir="rtl"] .go-back-arrow {
  font-size: 20px !important;
  color: #000 !important;
  cursor: pointer !important;
}

.go-back-arrow:hover {
  font-size: 25px !important;
  color: rgb(82, 79, 79) !important;
}
